doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
    form(action='auth/login' method='POST')
      span Username:
        input#username(name='username')
      br
      span Password:
        input#password(type='password' name='password')
      br
      br
      button(type='submit') Submit
      button(type='reset') Reset