doctype html
html(lang="en")
  head
    title= Profile
  body
    h1 Logged In!
    h2 Profile
    #container.col
      div Name #{user.username}
    
    br
    #link
      a(href='/restricted') Restricted Area
      br
      a(href='/logout') Logout